---
- hosts: webservers
  become: yes
  gather_facts: no

  vars:
    packages_list: "{{ packages.split(',') }}"

  tasks:

    - name: Install packages
      action: apt name={{ item }} state=present update_cache=yes
      loop: "{{ packages_list }}"
      when: operation == "install"

    - name: Remove packages
      action: apt name={{ item }} state=absent purge=yes
      loop: "{{ packages_list }}"
      when: operation == "remove"

    - name: Autoremove unused packages
      action: apt autoremove=yes
      when: operation == "remove"
